@keyframes a-animation {
    0% { opacity: 1; text-shadow: 0 0 10px orange; }
    10% { opacity: 0.9; text-shadow: n 0 0 9px orange; }
    20% { opacity: 0.8; text-shadow: n 0 0 8px orange; }
    30% { opacity: 0.7; text-shadow: n 0 0 7px orange; }
    40% { opacity: 0.6; text-shadow: n 0 0 6px orange; }
    50% { opacity: 0.5; text-shadow: n 0 0 5px orange; }
    60% { opacity: 0.4; text-shadow: n 0 0 4px orange; }
    70% { opacity: 0.3; text-shadow: n 0 0 3px orange; }
    80% { opacity: 0.2; text-shadow: 0 0 2px orange; }
    90% { opacity: 0.1; text-shadow:  0 0 1px orange; }
    100% { opacity: 0.0; text-shadow: n 0 0 0px orange; }
  }
  
  @keyframes icon-animation {
      0% { opacity: 0.1; text-shadow: none; }
        10% { opacity: 0.2; text-shadow: none; }    
        20% { opacity: 0.3; text-shadow: none; }
        30% { opacity: 0.5; text-shadow: none; }
        40% { opacity: 0.8; text-shadow: none; }
        50% { opacity: 1; text-shadow: none; }
        60% { opacity: 0.8; text-shadow: none; }
        70% { opacity: 0.5; text-shadow: none; }
        80% { opacity: 0.3; text-shadow: 0 0 10px orange; }
        90% { opacity: 0.2; text-shadow: none; }
        100% { opacity: 0.1; text-shadow: none; }

  }
  
  @keyframes s-animation {
    0% { opacity: 0.0; text-shadow: none; }
    10% { opacity: 0.1; text-shadow: none; }
    20% { opacity: 0.2; text-shadow: none; }
    30% { opacity: 0.3; text-shadow: none; }
    40% { opacity: 0.4; text-shadow: none; }
    50% { opacity: 0.5; text-shadow: none; }
    60% { opacity: 0.6; text-shadow: none; }
    70% { opacity: 0.7; text-shadow: none; }
    80% { opacity: 0.8; text-shadow: 0 0 10px orange; }
    90% { opacity: 0.9; text-shadow: none; }
    100% { opacity: 1; text-shadow: none; }
  }
  
  /* Apply animations */
  .a-animation {
    animation: a-animation 1.5s ease-in-out infinite;
  }
  
  .icon-animation {
    animation: icon-animation 1.5s ease-in-out infinite;
  }
  
  .s-animation {
    animation: s-animation 1.5s ease-in-out infinite;
  }
  